@page "/rides"
@using WayBill.Core.ViewModels
@inject Services.RideService RideService;

<div class="container mt-4">
    <h3 class="mb-4">Ride List</h3>

    <!-- Add a Bootstrap table -->
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Car</th>
            <th>Driver</th>
            <th>Start Point</th>
            <th>End Point</th>
            <th>Distance (km)</th>
            <th>Ride Date</th>
            <th>Speedometer Reading</th>
            <th>Release Car Time</th>
            <th>Cargo Name</th>
        </tr>
        </thead>
        <tbody>
        @if (rides is not null)
        {
            @foreach (var ride in rides)
            {
                <tr>
                    <td>@ride.Id</td>
                    <td>@ride.Car</td>
                    <td>@ride.Driver</td>
                    <td>@ride.StartPoint</td>
                    <td>@ride.EndPoint</td>
                    <td>@ride.Distance</td>
                    <td>@ride.RideDateTime.ToString("g")</td>
                    <td>@ride.SpeedometerReading</td>
                    <td>@ride.ReleaseCarTime.ToString("g")</td>
                    <td>@ride.CargoName ?? "N/A"</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@code {
    // Sample list of rides
    private IEnumerable<RideVm>? rides; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            rides = await RideService.GetRidesAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}